<!DOCTYPE html>
<html>

   <head>
      <title>URL Shortener Microserviec</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>URL Shortener</h1>
         <h3>by yusuf</h3>
        <p>to use it, simply type http://shortener.me/new/[yoururl] to the address bar</p>
        <p>ex: http://a.me/new/google.com</p>
      </div>
   </body>

</html>
